#content {
  padding-top: 20px;
}

#conversation {
  margin-bottom: 200px;
}

.message-form {
  position: fixed;
  top: 75%;
  bottom: 0;
}

.message-form textarea{
  width: 99%;
  min-width: 400px;
  max-width: 700px;
}
