<head>
  <title>lounge</title>
</head>

<!--
<template name="inbox">
  
</template>
-->

<body>
  {{> navbar}}
  <div class="container-fluid">
    <div class="row-fluid" id="content">
      <div class="span3">{{> inbox}}</div>
      <div class="span6" id="conversation">{{> conversation}}</div>
      <div class="span3">{{> contacts}}</div>
    </div>
  </div>
  {{> newRoomDialog}}
</body>

<template name="newRoomDialog">
  <div id="new-room" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="new-room-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="new-room-label">New Room</h3>
    </div>
    <div class="modal-body">
      <form class="form">
        <div class="control-group">
          <label class="control-label"> Title
            <input type="text" id="new-room-title">
          </label>
        </div>
        <div class="control-group">
          <label class="control-label"> Participants
            <input type="text" id="new-room-participants" autocomplete="off">
          </label>
        <div id="invited"></div>
        </div>
        <div class="control-group">
          <label class="checkbox">
            <input type="checkbox" id="new-room-public"> Public
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button id="new-room-create" data-dismiss="modal" class="btn btn-primary">Create</button>
    </div>
  </div>
</template>

<template name="navbar">
  <div class="navbar navbar-static-bottom">
    <div class="navbar-inner">
      <a class="brand" href="/">Lounge</a>
      <ul class="nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="#inbox" id="toggle-inbox">Inbox</a></li>
        <li><a href="#contacts" id="toggle-contacts">Contacts</a></li>
        <li>{{loginButtons}}</li>
      </ul>
    </div>
  </div>
</template>

<template name="inbox">
  <div id="inbox">
    {{#each room}}
      {{#unless isCurrentRoom}}
        <a href="#" class="room-link">
          <div class="well">{{> roomSnippet}}</div>
        </a>
      {{else}}
        <div class="well">
          <strong>{{> roomSnippet}}</strong>
          <a href="#" class="btn remove-room pull-right"><i class="icon-trash"/></a>
        </div>
      {{/unless}}
    {{/each}}
    <a href="#new-room" class="btn" id="new-room-button" role="button" data-toggle="modal">New Room</a>
  </div>
</template>

<template name="conversation">
  {{#if currentRoomId}}
    {{#each message}}
      <div class="well">{{> message}}</div>
    {{/each}}
    <div class="well message-form">{{> messageForm}}</div>
  {{else}}
    &lt;-- Select a room on the left!
  {{/if}}
</template>

<template name="contacts">
  <div id="inbox">
    {{#each user}}
      <div class="well">{{> userSnippet}}</div>
    {{/each}}
  </div>
</template>

<template name="roomSnippet">
  {{this.owner.username}}: 
  {{this.title}}
</template>

<template name="message">
  {{this.author.username}}: 
  {{this.text}}
  <a href="#" class="btn remove-message pull-right"><i class="icon-trash"/></a>
</template>

<template name="userSnippet">
  {{this.username}}
</template>

<template name="messageForm">
  <div id="message-form">
  <form class="form-inline">
    <textarea rows="3" id="new-message-text"></textarea>
    <a href="#" class="btn" id="new-message-button">Post</a>
    <label class="checkbox">
      <input type="checkbox" id="post-on-enter" checked />Post on Enter
    </label>
  </form>
</template>
